<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="es-MX">
<div th:replace="layout/header :: estilos"></div>
<body>
	<div th:replace="layout/header :: header"></div>
		<div class="d-flex" id="wrapper">
		<div th:replace="layout/header :: menu"></div>
		<div id="page-content-wrapper" style="width:100%;">
			<!-- Page content-->
			<div class="container-fluid" style="margin-top:15px;margin-bottom:10px;">
			
			<form action="generatepayment">
			<div class="control-group">
					<input type="number" id="clientid" name="clientid" class="regPel-field" value="" th:field="*{clientid}" placeholder="Número de cliente">
			</div>
			
			
			
			
			</form>
			
			
			
			
			
			
			
					</div>
					</div>
					
	</div>
	<div th:replace="layout/header :: footer"></div>
	<div th:replace="layout/header :: scripts"></div>
	<script th:src="@{assets/js/index/index.js}"></script>
</body>
</html>		